---
layout: default
pagination:
  data: collections.post
  reverse: true
  size: 5
  alias: posts
permalink: "{% if pagination.pageNumber > 0 %}/blog/page/{{ pagination.pageNumber | plus: 1 }}{% endif %}/"
---
{% if pagination.pageNumber == 0 %}
  <script defer src="/assets/scripts/scroll-to-note.js"></script>
  <div id="recent-notes" class="relative pbe-6">
    <div
      tabindex="0"
      role="region"
      aria-label="recent notes"
      class="
        page-inset-padding flex relative
        {% #arrow overlaps preceding margin %}
        -mbs-4 pbs-4
        {% #invisible horizontal scrollbar %}
        overflow-x-scroll [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden
        {% #scroll snapping %}
        snap-x snap-mandatory scroll-pl-4 sm:scroll-pl-12
        {% #focus ring %}
        focus-visible:bg-accent-100 focus-visible:outline-none
      "
    >
      {% assign note_limit = 5 %}
      {% for note in collections.note reversed limit: note_limit %}
        <article
          class="scroll-to-note flex-none snap-start max-is-xs pie-4 pbe-4 border-be last:pie-0 sm:max-is-lg"
        >
          <div
            class="
              bg-gray-200 dark:bg-gray-800 rounded-lg overflow-visible plb-2 pli-3
              {% #arrow %}
              relative
              before:absolute before:border-transparent before:-block-start-4 before:border-be-[1rem] before:border-is-[0.25rem] before:border-ie-[0.5rem] before:border-be-gray-200 group-hover:before:border-be-accent-200 group-focus:before:border-be-accent-200 dark:before:border-be-gray-800 dark:group-hover:before:border-be-accent-900 dark:group-focus:before:border-be-accent-900
            "
          >
            {{ note.templateContent }}
          </div>
          <p class="text-xs text-gray-500 mbs-1">
            <a href="{{ note.url }}"
              ><time datetime="{{ note.date }}">{{ note.date | date: '%b %-d, %Y' }}</time></a
            >
            {%- if note.data.categories %}
              • in categories:
              {% for cat in note.data.categories -%}
                <span class="p-category category">{{ cat }}</span>
                {%- unless forloop.last %}, {% endunless -%}
              {%- endfor -%}
            {%- endif %}
          </p>
        </article>
      {% endfor %}
      {% assign nextNoteIndex = note_limit | times: -1 | minus: 1 %}
      {% assign nextNote = collections.note[nextNoteIndex] %}
      {% if nextNote %}
        <div
          class="scroll-to-note flex-none snap-start is-full pbe-4 border-be"
        >
          → <a href="/notes#{{ nextNote.fileSlug }}">View more notes</a>
        </div>
      {% endif %}
    </div>
    <div class="absolute flex gap-2 block-end-0 inline-start-4 sm:inline-start-12">
      <button
        tabindex="-1"
        class="scroll-to-note-previous text-accent-900 hover:text-accent-700 active:text-black"
      >
        <svg
          viewBox="0 0 2 2"
          version="1.1"
          xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink"
          class="bs-3 is-3"
          fill="currentColor"
        >
          <title>scroll left</title>
          <polygon points="2,0 0,1 2,2">
        </svg>
      </button>
      <button
        tabindex="-1"
        class="scroll-to-note-next text-accent-900 hover:text-accent-700 active:text-black"
      >
        <svg
          viewBox="0 0 2 2"
          version="1.1"
          xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink"
          class="bs-3 is-3"
          fill="currentColor"
        >
          <title>scroll right</title>
          <polygon points="0,0 2,1 0,2">
        </svg>
      </button>
    </div>
  </div>

  {% assign firstPost = pagination.items[0] %}
  <div class="post page-inset-margin my-8">
    <header class="post-header">
      <h1>
        <a class="post-link" href="{{ firstPost.url }}">{{ firstPost.data.title }}</a>
      </h1>
      <p class="meta">
        <time datetime="{{ firstPost.date }}">{{ firstPost.date | date: '%b %-d, %Y' }}</time>
        {%- if firstPost.data.author %} • {{ firstPost.data.author }}{% endif -%}
        {%- if firstPost.data.categories %}
          • in categories:
          {% for cat in firstPost.data.categories -%}
            <span class="p-category category">{{ cat }}</span>
            {%- unless forloop.last %}, {% endunless -%}
          {%- endfor -%}
        {%- endif %}
      </p>
    </header>

    <article class="post-content">
      {{ firstPost.templateContent }}
    </article>
  </div>
{% endif %}

<h1 class="page-inset-margin my-8">
  {% if pagination.pageNumber == 0 %}Other {% endif %}Recent Posts
  {% if pagination.pageNumber > 0 -%}
    (page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.hrefs.length }})
  {%- endif %}
</h1>

<ul class="posts page-inset-margin my-8">
  {% for post in pagination.items %}
    {% if post != firstPost %}
      <li>
        <span class="post-date">{{ post.date | date: '%b %-d, %Y' }}</span>
        <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
        <p>
          {% if post.data.excerpt %}
            {{ post.data.excerpt | remove: '<p>' | remove: '</p>' }}
          {% else %}
            {{ post.templateContent | remove: '<p>' | remove: '</p>' }}
          {% endif %}
        </p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="pagination page-inset-margin my-8">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="previous">previous</a>
  {% else %}
    previous
  {% endif %}
  <span class="page_number">page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.hrefs.length }}</span>
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="next">next</a>
  {% else %}
    next
  {% endif %}
</div>
