{% assign note_limit = 5 %}
{% for note in notes reversed limit: note_limit %}
  <article
    class="
      scroll-region__item max-is-xs pbe-4 border-be group-focus-visible:border-be-transparent sm:max-is-lg flex-none snap-start pe-4 last:pe-0
      {% #arrow %}
      before:bs-0 before:is-0 before:mli-3 before:border-be-[1rem] before:border-be-gray-200 group-focus-visible:before:border-be-gray-100 dark:before:border-be-gray-700 dark:group-focus-visible:before:border-be-gray-800 before:sticky before:start-6 before:block before:border-e-[0.5rem] before:border-s-[0.25rem] before:border-transparent
    "
  >
    <div
      class="
        relative overflow-hidden rounded-lg bg-gray-200
        group-focus-visible:bg-gray-100 dark:bg-gray-700 dark:group-focus-visible:bg-gray-800

        {% #link focus ring background %}
        focus-visible:[&_:any-link]:ring-offset-gray-200 dark:focus-visible:[&_:any-link]:ring-offset-gray-700
      "
      {% assign photo = note.data.photo[0] %}
      {% if photo %}
        style="background: center/cover url('{{ photo.url }}')"
      {% endif %}
    >
      <div class="note__templateContent plb-2 pli-3 bg-gray-200/75 dark:bg-gray-700/75">
        {{ note.templateContent }}
      </div>
      {% if photo %}
        <img src="{{ photo.url }}" class="sr-only" alt="{{ photo.alt | escape }}">
      {% endif %}
    </div>
    <p class="mbs-1 text-xs text-gray-500">
      <a href="{{ note.url }}" class="group-focus-visible:text-black dark:group-focus-visible:text-white"
        ><time datetime="{{ note.date }}">{{ note.date | date: '%b %-d, %Y' }}</time></a
      >
      {%- if note.data.categories %}
        • in categories:
        {% for cat in note.data.categories -%}
          <span class="p-category category">{{ cat }}</span>
          {%- unless forloop.last %}, {% endunless -%}
        {%- endfor -%}
      {%- endif %}
    </p>
  </article>
{% endfor %}
{% assign nextNoteIndex = note_limit | times: -1 | minus: 1 %}
{% assign nextNote = notes[nextNoteIndex] %}
{% if nextNote %}
  <div
    class="scroll-region__item is-full plb-6 border-be flex-none snap-start"
  >
    → <a href="/notes#{{ nextNote.fileSlug }}">View more notes</a>
  </div>
{% endif %}
