<section class="scroll-region pbe-6 {{ theme }}">
  <div
    id="scrollable-{{ id }}"
    tabindex="0"
    role="region"
    aria-label="scrollable region"
    class="
      page-inset-padding flex relative group
      {{ extra_styles }}
      {% #invisible horizontal scrollbar %}
      overflow-x-scroll overflow-y-hidden [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden
      {% #scroll snapping %}
      snap-x snap-mandatory scroll-ps-4 sm:scroll-ps-12
      {% #focus ring %}
      focus-visible:bg-theme-200 focus-visible:outline-none dark:focus-visible:bg-theme-900
    "
  >
    {{ content }}
  </div>
  <script>
    // Restore scroll position on page reload
    (function () {
      const scrollable = document.getElementById('scrollable-{{id}}');
      const key = `scrollPosition.${document.location.pathname}.{{id}}`;
      const scrollPosition = sessionStorage.getItem(key);
      if (scrollPosition) {
        scrollable.scrollLeft = scrollPosition;
        sessionStorage.removeItem(key);
      }
      addEventListener('beforeunload', () => {
        const scrollPosition = scrollable.scrollLeft;
        sessionStorage.setItem(key, scrollPosition);
      });
    })();
  </script>
  <div
    class="
      page-inset-padding flex gap-2 text-theme-700 bs-6 dark:text-theme-500 [&>:active]:text-black dark:[&>:active]:text-white
      [&>:hover]:text-theme-500 dark:[&>:hover]:text-theme-300
    "
  >
    <button
      tabindex="-1"
      class="scroll-region__previous"
    >
      <svg
        viewBox="0 0 2 2"
        version="1.1"
        xmlns="https://www.w3.org/2000/svg"
        xmlns:xlink="https://www.w3.org/1999/xlink"
        class="bs-3 is-3"
        fill="currentColor"
      >
        <title>scroll left</title>
        <polygon points="2,0 0,1 2,2">
      </svg>
    </button>
    <button
      tabindex="-1"
      class="scroll-region__next"
    >
      <svg
        viewBox="0 0 2 2"
        version="1.1"
        xmlns="https://www.w3.org/2000/svg"
        xmlns:xlink="https://www.w3.org/1999/xlink"
        class="bs-3 is-3"
        fill="currentColor"
      >
        <title>scroll right</title>
        <polygon points="0,0 2,1 0,2">
      </svg>
    </button>
  </div>
</section>
