---
# per https://www.11ty.dev/docs/quicktips/tag-pages/
layout: default
pagination:
  data: collections.tagPages
  size: 1
  alias: tag
permalink: "tags/{{ tag.tagName | slugify }}/{% if tag.pageNumber > 0 %}page/{{ tag.pageNumber | plus: 1 }}/{% endif %}"
---
<h1 class="page-inset-margin my-8">
  Recent articles in {{ tag.tagName }}
  {% if tag.pageData.length > 0 %}
    (page {{ tag.pageNumber | plus: 1 }} of {{ tag.pageCount }})
  {% endif %}
</h1>

<ol class="posts page-inset-margin my-8">
  {% for post in tag.pageData %}
    <li>
      <span class="post-date">{{ post.date | date: '%b %-d, %Y' }}</span>
      <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
      <p>
        {% if post.data.excerpt %}
          {{ post.data.excerpt | remove: '<p>' | remove: '</p>' }}
        {% else %}
          {{ post.templateContent | remove: '<p>' | remove: '</p>' }}
        {% endif %}
      </p>
    </li>
  {% endfor %}
</ol>

<div class="pagination page-inset-margin my-8">
  {% if tag.pageNumber > 0 %}
    {% assign previousPage = tag.pageNumber | minus: 1 %}
    <a
      href="/tags/{{ tag.tagName | slugify }}/{% if previousPage > 0 %}page/{{ previousPage | plus: 1 }}/{% endif %}"
      class="previous"
      >previous</a
    >
  {% else %}
    previous
  {% endif %}
  <span class="page_number">page {{ tag.pageNumber | plus: 1 }} of {{ tag.pageCount }}</span>
  {% assign nextPage = tag.pageNumber | plus: 1 %}
  {% if nextPage < tag.pageCount %}
    <a href="/tags/{{ tag.tagName | slugify }}/page/{{ nextPage | plus: 1 }}/" class="next">next</a>
  {% else %}
    next
  {% endif %}
</div>
