---
layout: default
---
<article class="page-inset-margin h-entry hentry max-is-prose xl:mli-auto" itemprop="articleBody">
  <header class="post-header mbe-4 sm:mbe-8">
    <h1
      class="p-name entry-title text-4xl font-light tracking-tight sm:text-5xl"
      itemprop="headline"
    >
      {{ title }}
      {% if published == false %}
        (draft)
      {% endif %}
    </h1>
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
      <a class="u-url" href="{{ page.url }}"
        ><time itemprop="datePublished" class="dt-published published" datetime="{{ page.date | toHTMLDatetime }}">
          {{- page.date | date: '%b %-d, %Y' -}}
        </time></a
      >
      {%- if author %}
        • by <span class="p-author author">{{ author }}</span>
      {%- endif -%}
      {% assign visibleTags = tags | exclude: 'post' | sort_natural %}
      {%- if visibleTags %}
        • in categories:
        {% for cat in visibleTags -%}
          <a href="/tags/{{ cat | slugify }}/" class="p-category category">{{ cat }}</a>
          {%- unless forloop.last %}, {% endunless -%}
        {%- endfor -%}
      {%- endif %}
    </p>
  </header>

  <div
    class="
      post-content e-content entry-content
      {% #content styles %}
      text-lg [&>p]:mlb-4 [&>blockquote>p]:mlb-4 [&>blockquote]:font-light [&>blockquote]:italic [&>blockquote]:tracking-tight [&>blockquote]:text-gray-500 [&>blockquote]:pis-5 [&>blockquote]:border-is-4 dark:[&>blockquote]:text-gray-400 [&>pre]:overflow-auto [&>pre]:max-is-full [&_:is(h1,h2,h3,h4,h5,h6)]:font-light [&_:is(h1,h2,h3,h4,h5,h6)]:leading-none [&_:is(h1,h2,h3,h4,h5,h6)]:tracking-tight [&_:is(h1,h2,h3,h4,h5,h6)]:mbs-10 [&_:is(h1,h2,h3,h4,h5,h6)]:mbe-5 [&_h1]:text-4xl sm:[&_h1]:text-5xl [&_h2]:text-3xl [&_h3]:text-2xl [&_h4]:text-xl [&_:is(ul,ol)]:pis-5 sm:[&_:is(ul,ol)]:pis-0 [&_ul]:list-disc [&_ol]:list-decimal [&_ul>li]:marker:text-gray-400 [&_:is(ul,ol)>li>p]:mlb-2
      {% #code blocks & inline %}
      [&_:is(pre,code)]:rounded [&_:is(pre,code)]:border [&_:is(pre,code)]:bg-gray-100 [&_:is(pre,code)]:text-sm [&_pre:has(>code)]:pli-3 [&_pre:has(>code)]:plb-2 [&_code]:plb-[0.0625rem] [&_code]:pli-1 [&_pre>code]:border-0 [&_pre>code]:p-0
      {% #heading links %}
      [&_.heading-wrapper]:relative [&_.heading-wrapper]:-mis-4 [&_.heading-wrapper]:pis-4 [&_.header-anchor]:absolute [&_.header-anchor]:text-transparent [&_.header-anchor]:-block-end-1 [&_.header-anchor]:inline-start-0 focus:[&_.header-anchor]:text-theme-700 dark:focus:[&_.header-anchor]:text-theme-500 [&_.heading-wrapper:hover_.header-anchor]:text-theme-700 dark:[&_.heading-wrapper:hover_.header-anchor]:text-theme-500
      [&_:target+.header-anchor]:text-theme-700 dark:[&_:target+.header-anchor]:text-theme-500
    "
    itemprop="articleBody"
  >
    {{ content }}
  </div>
</article>
