---
layout: default
stylesheets:
  - light: /assets/styles/highlight.js/github.css
    dark: /assets/styles/highlight.js/github-dark.css
---
<article class="page-inset-margin h-entry hentry max-is-prose xl:mli-auto" itemprop="articleBody">
  <header class="post-header mbe-4 sm:mbe-8">
    <h1
      class="p-name entry-title text-4xl font-light tracking-tight sm:text-5xl"
      itemprop="headline"
    >
      {{ title }}
      {% if published == false %}
        (draft)
      {% endif %}
    </h1>
    {% assign photo = photo[0] %}
    {% if photo %}
      <img src="{{ photo.url }}" alt="{{ photo.alt }}">
    {% endif %}
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
      <a class="u-url" href="{{ page.url }}"
        ><time itemprop="datePublished" class="dt-published published" datetime="{{ page.date | toHTMLDatetime }}">
          {{- page.date | date: '%b %-d, %Y' -}}
        </time></a
      >
      {%- if author %}
        • by <span class="p-author author">{{ author }}</span>
      {%- endif -%}
      {% assign visibleTags = tags | exclude: 'post' | sort_natural %}
      {%- if visibleTags %}
        • in categories:
        {% for cat in visibleTags -%}
          <a href="/tags/{{ cat | slugify }}/" class="p-category category">{{ cat }}</a>
          {%- unless forloop.last %}, {% endunless -%}
        {%- endfor -%}
      {%- endif %}
    </p>
  </header>

  <div
    class="
      post-content e-content entry-content
      {% #content styles - TODO: convert these to @apply rules %}
      [&>p]:mlb-4 [&>blockquote>p]:mlb-4 [&>pre]:max-is-full [&_:is(h1,h2,h3,h4,h5,h6)]:mbs-10 [&_:is(h1,h2,h3,h4,h5,h6)]:mbe-5 [&_:is(ul,ol)>li>p]:mlb-2 text-lg [&>blockquote]:border-s-4 [&>blockquote]:ps-5 [&>blockquote]:font-light [&>blockquote]:italic [&>blockquote]:tracking-tight [&>blockquote]:text-gray-500 dark:[&>blockquote]:text-gray-400 [&>pre]:overflow-auto [&_:is(h1,h2,h3,h4,h5,h6)]:font-light [&_:is(h1,h2,h3,h4,h5,h6)]:leading-none [&_:is(h1,h2,h3,h4,h5,h6)]:tracking-tight [&_:is(ul,ol)]:ps-5 sm:[&_:is(ul,ol)]:ps-0 sm:[&_:is(ul,ol)_:is(ul,ol)]:ps-5 [&_h1]:text-4xl sm:[&_h1]:text-5xl [&_h2]:text-3xl [&_h3]:text-2xl [&_h4]:text-xl [&_ol]:list-decimal [&_ul>li]:marker:text-gray-400 [&_ul]:list-disc
      {% #code blocks & inline %}
      [&_code]:plb-[0.0625rem] [&_code]:pli-1 [&_pre:has(>code)]:plb-2 [&_pre:has(>code)]:pli-3 [&_:is(pre,code)]:rounded [&_:is(pre,code)]:border [&_:is(pre,code)]:bg-gray-100 [&_:is(pre,code)]:text-sm dark:[&_:is(pre,code)]:bg-gray-800 [&_pre>code]:border-0 [&_pre>code]:p-0
    "
    itemprop="articleBody"
  >
    {{ content }}
  </div>
</article>
